<button (click)="createRec()">{{btnName}}</button>

<div *ngIf="recInProg">
  <input [(ngModel)]="recName" placeholder="Recipe Name">
  <input [(ngModel)]="recTime" placeholder="Recipe Prep time">
  <br>
  <input [(ngModel)]="ingName" placeholder="Ingredient Name">
  <input [(ngModel)]="ingQty" placeholder="Ingredient Qty">
  <button (click)="addItem()">Add Ingredient</button>
  <br>
  <input [(ngModel)]="instruct" placeholder="Add instruciton here">
  <button (click)="addInstruction()">Add Ingredient</button>
</div>
